<p id="notice"><%= notice %></p>

<table class="table">
  <thead>
    <tr>
      <th>
        <%= link_to "画像名", sort: "image_name DESC" %>
      </th>
      <th>
        <%= link_to "きれいな空", sort: "beautiful_sky DESC" %>
      </th>
      <th>
        <%= link_to "Notきれいな空", sort: "not_beautiful_sky DESC" %>
      </th>
      <th>
        <%= link_to "その他", sort: "other" %>
      </th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @predict_data.each do |predict_datum| %>
      <tr>
        <td><%= image_tag('src/' + predict_datum.image_name, :size => "64x64") %></td>
        <td><%= predict_datum.beautiful_sky %></td>
        <td><%= predict_datum.not_beautiful_sky %></td>
        <td><%= predict_datum.other %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate(@predict_data) %>

<br>
<%= form_tag({controller: "predict_data", action: "import", method: "post"}, {multipart: true}) do %>
  <%= file_field_tag :file %>
  <%= submit_tag "オブジェクトを一括インポート" %>
<% end %>

